{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <head id="titleHead">
        <p id="titleDash">
            <b><u>List of Categorized Sheets:</u></b>
        </p>
    </head>

    <form  action="/dashboard" method="post">
        <div id="dashboardList">
            {% for item in placeholder %}
                <div style="display: flex">
                        <button id="buttonList" name="sheet" value={{item}} type="submit" class="btn btn-success">{{item}}</button><br>
                        <button id="deleteButton" name="delete" value={{item}} type="submit" class="btn btn-danger">Delete</button><br>
                </div>
            {% endfor %}  

        </div>
    </form>
    

{% endblock %}