{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <head id="titleHead">
        <p id="titleDash">
            <b><u>Dashboard: {{tableName}}</u></b>
        </p>
    </head>

    {{data}}

    <img id="graph" style="margin-left: -10%; margin-right: -10%; margin-top:0%; width: 100%; height: 400px;" src={{source}} alt="">

    <form method="post" action="/delete-user">
        <input type="submit" name="delete" value="Delete Account">
    </form>
{% endblock %}